#presentation {
    @include flex(row, space-between, center);
    background-color: $secondary-color;
    height: 100vh;
    width: 100%;
    margin-top: 2rem;
    position: sticky;
    top: 30rem;

    @include tabletScreen {
        @include flex(column, center, center);
        padding: 10rem 3rem 3rem 3rem;
        height: 100%;
    }
}

.presentation {

    &--picture {
        @include flex(row, center, center);
        width: 30%;
        overflow: hidden;
        margin: 3rem 5rem;

        @include tabletScreen {
           width: 35rem;
        }

        @include mobileScreen {
            align-self: center;
        }
        
        img {
            width: 100%;
            height: 100%;
        }
    }

    &--title {
        position: absolute;
        left: 25%;
        top: 5%;

        h2 {
            color: $primary-color;
            font-size: 10vw;
            margin: 1.1rem 0 0.5rem 0;
            white-space: nowrap;

            @include mobileScreen {
                font-size: 3rem;
                margin-bottom: 2rem;
            }
        }
    }


    &--text {
        @include flex(column, space-between, flex-start);
        width: 55%;
        padding-right: 2rem;
        padding-bottom: 2rem;
        position: absolute;
        top: 35%;
        left: 40%;
        color: $primary-color;

        @include tabletScreen {
            @include flex(column, flex-start, flex-start);
            padding-right: 0;
            max-width: 35rem;
            width: 90%;
        }

       

        p {
            font-size: 1.6rem;
            line-height: 1.7rem;
        }
    }
}