.nature {
    @include container;
    margin: 15rem auto;

    &--list {
        @include flex(row, center, center);
        flex-wrap: wrap;
        gap: 4vmin;
        width: 95%;
        padding: 0 1.5rem;
        margin: 0 auto;
    
    
        @include mobileScreen {
            width: 95%;
        }
    
        &__item {
            height: 80vh;
            cursor: pointer;
            @include transition(300ms);
    
            &:hover {
                transform: scale(1.1);
            }
    
            @include tabletScreen {
                height: 20rem;
            }
    
            @include mobileScreen {
                width: 95%;
                height: auto;
            }
        }
    }
}

