.video {
  margin-top: 10rem;
  overflow: hidden;
  width: 100vw;
}


.article {
  position: relative;
  width: 100vw;
  height: 80vh;
  @include flex(row, center, center);
  overflow: hidden;

  @include tabletScreen {
    height: auto;
  }

  @include mobileScreen {
    @include flex(column, center, center);
  }

  &--video {

    position: relative;
    width: 45%;
    margin: 5rem 2.5rem 5rem 2.5rem;
    object-fit: cover;
    cursor: pointer;
    @include transition(300ms);

    @include mobileScreen {
      width: 90%;
      margin: 1rem;
    }

    &::before {
      position: absolute;
      content: "Play";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include flex(row, center, center);
      padding: 3rem;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background-color: $secondary-color;
      color: $primary-color;
      text-transform: uppercase;
      @include transition(300ms);
      opacity: 0;
    }

    &:hover {
      transform: scale(1.03);
      &::before {
        opacity: 1;
      }
    }
  }

  &--info {
    @include flex(column, space-evenly, flex-start);
    width: 40%;
    margin: 5rem 2.5rem 5rem 2.5rem;

    @include mobileScreen {
      width: 90%;
      margin: 1rem;
    }

    &__title {
      position: absolute;
      top: 1%;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;

      @include tabletScreen {
        position: static;
        transform: translateX(0);
      }
    }

    &__right {
      @include flex(column, space-between, flex-end);

      @include mobileScreen {
        @include flex(column, space-between, flex-start);
      }

      p {
        text-align: right;

        @include mobileScreen {
          text-align: left;
        }
      }
    }

    &__gps {
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    &__lieu {
      @include flex(row, flex-start, center);
      font-size: 1.5rem;
      margin: 2rem 0;

      p {
        text-transform: uppercase;
        margin-left: 1rem;
      }
    }
  }

  &--fullVideo {
    position: relative;
    @include flex(row, center, center);
    transition: all 300ms ease-in-out;
    width: 100%;
    max-width: 100rem;
    background-color: $secondary-color;

    @include tabletScreen {
      width: 90%;
    }

    &__btn {
      cursor: pointer;
      position: absolute;
      @include flex(row, center, center);
      top: 0;
      right: 0;
      width: 5rem;
      height: 5rem;
      background-color: $secondary-color;
      color: $primary-color;
      font-size: 2rem;
      font-weight: 500;
      border: none;
    }
  }
}
